body {
    height: 100%;
    width: 100%;

}

h1, h2 {
    font-family: 'Archivo Black', sans-serif;
    font: black;
}
p, h3 {
    font-family: 'Hind', sans-serif;
}

.header {
    width: 100%;
    height: 100%;
    position: relative;
}

.lead {
    margin-bottom: 17%;
}
.lead h1 {
    font-size: 5rem;
}

.lead p {
    font-style: italic;
}

.lead img {
    float: left;
    height: 220px;
    width: 220px;
    padding: 5px;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15%;
    height: 100%;
    border-right: solid black 1px;
    align-items: center;
    position: fixed;
    top: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.nav-item {
    height: 25%;
    border-bottom: solid black 1px;
    text-align: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.0em;
    text-align: center;
}

.masthead {
    height: 20%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    
}

.main {
    height: 100%;
    width: 55%;
    flex-flow: column wrap;
    justify-content: center;
    margin: auto;
}


.social {
    text-align: center;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    right: 5%;
    position: fixed;
    top: 30%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #4CA6F7;
}

.fa:hover {
    color: white;
    transition: .2s;
    background-color: #418FD4;
}
a:link {
    color: black;
    text-decoration: none;
}
.button, a:visited {
    color:black;
}

.button:hover {
    color: white;
    background-color: black;
    transition: .2s;
}